# Tutorial KNN

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('E:/house_price_preprocessed.csv')

In [4]:
df.head()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,1,5.480,11.1920,3,23,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,0,7.332,12.1728,0,42,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,0,7.394,101.1200,2,38,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,1,9.268,11.2672,0,45,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,0,8.824,11.2896,0,55,0.039474,0

In [18]:
x = df.iloc[:,0:-1].values
y = df.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [16]:
y.shape

(505, 18)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   dist1        506 non-null    float64
 6   dist2        506 non-null    float64
 7   dist3        506 non-null    float64
 8   dist4        506 non-null    float64
 9   teachers     506 non-null    float64
 10  poor_prop    506 non-null    float64
 11  airport      506 non-null    int64
 12  n_hos_beds   506 non-null    float64
 13  n_hot_rooms  506 non-null    float64
 14  waterbody    506 non-null    int64
 15  rainfall     506 non-null    int64
 16  parks        506 non-null    float64
 17  Sold         506 non-null    int64
dtypes: float64(14), int64(4)
memory usage: 71.3 KB

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()

In [22]:
x_train = sc.fit_transform(x_train)

In [23]:
x_test = sc.fit_transform(x_test)

In [24]:
from sklearn.neighbors import KNeighborsClassifier

In [25]:
import numpy as np

In [27]:
error_rate = []
for i in range(1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    pred_i = knn.predict(x_test)
    error_rate.append(np.mean(pred_i != y_test))

print("Minimum error:-",min(error_rate),"at K =",error_rate.index(min(error_rate)))

Minimum error:- 0.36220472440944884 at K = 17

In [28]:
knn = KNeighborsClassifier(n_neighbors=17)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=17)

In [29]:
from sklearn.metrics import confusion_matrix

In [30]:
y_pred = knn.predict(x_test)

In [31]:
cm =confusion_matrix(y_test,y_pred)

In [32]:
cm

array([[49, 27],
       [21, 30]], dtype=int64)

In [33]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [34]:
akurasi = classification_report(y_test,y_pred)

In [35]:
akurasi

'              precision    recall  f1-score   support\n\n           0       0.70      0.64      0.67        76\n           1       0.53      0.59      0.56        51\n\n    accuracy                           0.62       127\n   macro avg       0.61      0.62      0.61       127\nweighted avg       0.63      0.62      0.62       127\n'

In [36]:
print(akurasi)

              precision    recall  f1-score   support

           0       0.70      0.64      0.67        76
           1       0.53      0.59      0.56        51

    accuracy                           0.62       127
   macro avg       0.61      0.62      0.61       127
weighted avg       0.63      0.62      0.62       127

In [37]:
skor_akurasi = accuracy_score(y_test, y_pred)
print(skor_akurasi)

0.6220472440944882